* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    height: 100%;
    background-image: url(images/background.jpg);
    background-position: 100%;
    background-size:cover;
}

/* Header styles */

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    background-color: white;
}

.nav-name {
    color: navy;
    font-weight: bold;
    font-size: x-large;
    white-space: nowrap;
    width: 20%;
}

.nav-list {
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 3px
}

.nav-icons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 3rem;
    z-index: 1;
}

.nav-icons a {
    display: flex;
    justify-content: center;
    width: 15%;
}

.icons {
    width: 15%;
    min-width: 20px;
    object-fit: contain;
    mix-blend-mode: color-burn;
    align-self: auto;
}

.nav-list li {
    float: left;
}

.nav-list a {
    text-decoration: none;
}

.nav-list a:visited {
    color: black;
}

.nav-list a:hover {
    color: rgb(86, 84, 84);
}

/* Body styles */

.home-main {
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-main p {
    width: 50%;
    min-width: 500px;
    padding-top: 15rem;
}

.profile-pic {
    border-radius: 50%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    margin: 50px;
}

.span {
    text-shadow: 5px;
    white-space: nowrap;
    font-weight: bold;
    font-size:50px;
    color: navy;
}

.span2 {
    white-space: nowrap;
}

.resume-main {
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.main-grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

h1, h2, h3 {
    color: navy;
}

h2 {
    padding-top: 1rem;
    grid-template-columns: auto auto auto;
}

.resume-div {
}

.resume-div:hover {
    transform: scale(1.05);
}

ul {
    list-style-type:none;
}

hr {
    margin-bottom: 1rem;
}

.projects-main, .about-main {
    padding: 2rem;
}

/* Footer Styles */

footer {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%
}

footer a {
    color: black;
    padding-right: 10px;
    padding-left: 5px;
}

.resume-footer {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    position: sticky;
    bottom: 0;
    width: 100%
}